@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");

/*-------------------- CLASSE GLOBALES ---------------*/

:root {
  --main: rgb(124, 40, 99);
  --bg-main: rgb(84, 27, 67);
  --linear: linear-gradient(
    45deg,
    rgba(124, 40, 99, 0.347),
    rgba(0, 0, 0, 0.782)
  );
}

.btn {
  width: 60px;
  height: 35px;
  padding: 10px 15px;

  background-color: var(--main);
}

.btn:hover {
  background-color: var(--bg-main);
}

.icone {
  width: 55px;
  height: 55px;
}
.icone-small {
  display: inline-block;
  margin: 8px;
  font-size: 25px;
}

.logo {
  width: 75px;
  height: 75px;
}

.fas {
  color: var(--main);
}

/* .purple {
  --var(color: rgb(124, 40, 99));
} */

/* ----------------CSS GENERAL------------- */

body {
  font-family: "Montserrat", sans-serif;
  height: 3000px;
}

iframe {
  display: block;
}

/* ------------------HEADER----------------- */

header {
  background: var(--linear), url(/img/fitness.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: white;
  padding: 20px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header .title {
  text-align: center;
  margin: 100px 0 150px;
}

header div h1 {
  font-size: 80px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}

/* ---------------CSS PAR SECTION-------------- */

/* Partie liens image chevauchement header */
.container {
  max-width: 1060px;
  margin: 0 auto;
}
#programs {
  display: flex;
  margin-top: -90px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 90px;
}

#programs a:first-of-type {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/fitnessman.jpg);
}

#programs a:last-of-type {
  background-image: linear-gradient(
      rgba(96, 29, 76, 0.36),
      rgba(101, 24, 78, 0.6)
    ),
    url(/img/fitnesswoman.jpg);
}

#programs a {
  width: 50%;
  flex: wrap;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 30px;
}

#programs a h2 {
  text-transform: uppercase;
}

/* Partie en dessous slogan et cartes */
.slogan {
  text-align: center;
}
.cards {
  text-align: center;
}
.cards ul {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0 0;
}
.cards ul li {
  border-top: 1px solid rgba(149, 139, 139, 0.387);
  border-left: 1px solid rgba(149, 139, 139, 0.387);
  width: 25%;
  padding: 50px 30px;
}

.cards ul li:first-of-type {
  border-left: none;
}

.cards ul li h3 {
  font-weight: 400;
}

/* ****************  BAN MILIEU*************** */

#ban {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgb(124, 40, 99, 0.3) 55%,
      rgb(0, 0, 0) 0%
    ),
    url(/img/crossfit.jpg);

  height: 450px;
  background-size: cover;
  background-position: center;
}

#ban .content-ban {
  display: flex;
  width: 1060px;
  height: 450px;
  /* background-color: hotpink; */
  justify-content: flex-end;
}

#ban .txt-ban {
  justify-content: flex-end;
  width: 40%;
  height: 450px;
  padding: 30px;
  color: white;
}

#ban .txt-ban h2 {
  margin-left: -75px;
}

/*  Parie DAMMIER */

#feature ul {
  display: flex;
  flex-flow: row wrap;

  margin: auto;
}

#feature ul li {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: calc(100% / 3);
  /* border: 1px solid rgba(128, 128, 128, 0.158); */
}

#feature ul li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.089);
}
/* correction: #feature li:nth-of-type(odd) */

/* MAP */

#map iframe {
  width: 100%;
  height: 450px;
}

/* ***********FOOOOOTER************* */

footer {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 100%;
  background-color: black;
  margin-top: 0;
  border-top: 20px solid var(--main);
}

footer  div {
  margin: 0;
  padding: 25px;
  color: white;
  width: calc(100% / 3);
}

/* partie reseau */
footer .reseau {
  text-align: end;
}

footer .reseau ul li {
  display: inline-block;
}


.reseau ul li a {

text-align: center;
line-height: 60px;
background: black ;
border-radius: 50%;
/* font-size: 30px; */
color:white ;

}
 /* effet hover sur icone */


.reseau ul li a:hover::before {
  
  transform: scale(1.1);
  /* box-shadow: 0 0 15px var(--main); */
}

.reseau ul li a:hover i {
  transition: 0.9s;
  padding: 10px;
  color: var(--main);
 font-size: 65px;
 border-radius: 50%;
  box-shadow: 0 0  20px var(--main);
  text-shadow: 0 0 10px var(--main);
}




/* partie form */

footer .foot-mid {
  z-index: 1;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: inherit;
  margin-top: -150px;
  height: 485px;
}
footer .foot-mid .form {
  height: 450px;
  width: 100%;

  color: inherit;
}

label {
  color: black;
}

.wrapper {
  width: 450px;
  background: #fff;
  padding: 30px;
}

.wrapper .input-data {
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  color: var(--main);
}

.wrapper .input-data label {
  position: absolute;
  left: 25px;
  top: 10px;
  color: grey;
  pointer-events: none;
  transition: all 0.5s ease;
}

/* partie coordonnee */

footer .coordonnee {
  display: flex;
  padding-top: 0;
}

footer .coordonnee ul {
  display: flex;
  flex-direction: column;
}
footer .coordonnee ul li {
  width: 350px;
}
footer .coordonnee ul li p {
  margin: 0 0 3px 35px;
}

footer .coordonnee h3 {
  text-transform: uppercase;
  margin: 0;
}

.coordonnee .col .line-foot {
  display: flex;

  align-items: center;
  margin: 10px 0;
  padding: 0;
}
