@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");

/*-------------------- CLASSE GLOBALES ---------------*/

:root {
  --main: rgb(124, 40, 99);
  --bg-main: rgb(84, 27, 67);
  --linear: linear-gradient(
    45deg,
    rgba(124, 40, 99, 0.347),
    rgba(0, 0, 0, 0.782)
  );
}

.btn {
  width: 60px;
  height: 35px;
  padding: 10px 15px;

  background-color: var(--main);
}

.btn:hover {
  background-color: var(--bg-main);
}

.icone {
  width: 75px;
  height: 75px;
}

/* .purple {
  --var(color: rgb(124, 40, 99));
} */

/* ----------------CSS GENERAL------------- */

body {
  font-family: "Montserrat", sans-serif;
  height: 3000px;
}

/* ---------------CSS PAR SECTION-------------- */
.elem1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 2000px;
  width: 1060px;
  background-color: violet;
}

.elem2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 400px;
  background-color: yellow;
}

.cadre1 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.258), rgba(0, 0, 0, 0.251)),
    url(/img/fitnessman.jpg);
}

.cadre2 {
  background: url(/img/fitnesswoman.jpg);
}

.cadre1,
.cadre2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 100%;
}

/* ***********je sais pas quoi mettre ici */

/* ------------------HEADER----------------- */

header {
  background: var(--linear), url(/img/fitness.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: white;
  padding: 20px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header nav img {
  width: 75px;
  height: 75px;
}

header .title {
  text-align: center;
  margin: 100px 0 150px;
}

header div h1 {
  font-size: 80px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  line-height: 100%;
}
